* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-consult{
  border: 1px solid #e9453e ;
}
.btn-consult:hover{
  background-color:  #932321 ;
  color: white;
}

nav {
  height: 13vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  height: 10vh;
  z-index: 999;
  background-color: #932321 !important;
  padding: 0 0px 0 1px !important;
}

.navbar-dark .navbar-nav {
  background-color: #932321;
  color: #fff !important ;
}

.navbar-dark .navbar-nav .show {
  background-color: #e9453e !important;
  border-radius: 10px;
  
  color: #fff !important;
}

/* .dropdown-menu {
  width: 90% !important;
} */

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #f0352f;
  color: white;
}
.slider {
  height: 600px;
}
.card-box {
  background-color: #932321;
  color: white;
}
.card-img {
  border: 4px solid #FFF;
  border-radius: 50%;
  height: 50%;
  width: 70%;
  margin-left: 5.4rem;
  margin-top: 20%;
 
}
.card h3 {
  margin-left: 10%;
}
.card h5 {
  margin-left: 3%;
}

.paytm-logo {
  height: 20%;
  width: 40%;
  margin-left: 9.7rem;
display: none;
}

.card-line{
  height: 3px;
  width: 100%;
  border:5px;
  background-color: #e9453e ;
}

.card-hover-text:hover{
  font-weight: 800;
  transition: 1s;
  
}

.card-border{
  border: 1px solid #e9453e ;
}